/*HTML elements*/
/*font*/
@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}

@font-face {
  font-family: Oswald-Medium;
  src: url('../fonts/oswald/Oswald-Medium.ttf'); 
}

body, html {
	font-family: JosefinSans-Bold, sans-serif;
}

p {
	font-family: JosefinSans-Bold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
/*endfont*/
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.search{
	margin-top:21px;
}
form. checkbox{
  width: 20px;
}
ul, li {
	list-style-type: none;
}

input.error, select.error {
	border-color: red;
}
.add-todo form {
	margin-top:10px;
}
.index-title{
	height:80px;
}
.container {
	margin: 0 auto;
	width: 90%;
}

.input-container{
	margin:0 auto;
}

.input {
	font-size:20px;
	height:50px;
	background-color: #fff;
	border:thin;
	padding:0 20px;
}
.input-error{
	margin:0 auto;
	height:100%;
	width:91.5%;
	border:1px solid red;
}
.input-10{
	width:8.7%;
}
.input-20{
	width:16%;
}
.input-40 {
	width: 40%;
}

.add-todo:after{
	display: table;
	content: "";
	clear: both;
}

button.input{
	border: 1px solid #e6e6e6;
}

button.input:hover {
	background-color: #f0f0f0;
}
input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

input.error::-webkit-input-placeholder{
	color:red;
}
select.error{
	color:red;
}
select {
    display: inline-block;
    border: 1px solid #bbb9b9;
    border-radius: 0px;
    background: #ffffff;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
select:hover,
select:focus {
    color: #000000;
    background: #f0f0f0;
}
select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
form{
	display: inline-block;
	float:left;
	width:100%;
}

/*Todo row grid*/
div.todo-row{
  width:100%;
  display: grid;
  grid-template-columns: 5% 1fr 100px;
  grid-template-areas: 
  "check content button";
}
form.todo-row-check{
  grid-area: check;
}
form.todo-row-delete{
  grid-area:button;
}

form.todo-row-form {
  grid-area: content;
  display: inline-grid;
  grid-template-columns: 20% 1fr 20% 100px;
  grid-template-areas:
  "name description category edit";
}
/*inline grid */
form.todo-name{
  grid-area: name;
}
form.todo-descr{
  grid-area: description;
}
form.todo-cat{
  grid-area: category;
}
form.todo-edit{
  grid-area: edit;
}


select.input {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0px;
  background-repeat: no-repeat;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


